#container-wallpaper a{
    display: inline;
}   
#container-wallpaper img {
    width: 49%;
    opacity: 80%;
    object-fit: cover;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}

#container-wallpaper img:hover {
    cursor: pointer;
    opacity: 100%;
}

#divise-image-wallpaper {
    
}

#container-mini-description {
    border-top: 2px solid white;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}
p{
    color: white;
}
.jogos{

    color: white;

}
body{
    background-image: url(Img/fundo.jpg);
}
.imagens
{
   float: left;
   width: 450PX;
   height: 450PX;
}
.geraL
{
    width: 49%;
    height: 500PX;
    margin-right: 0 auto;
    margin-left: 0 AUTO;
}
#texto{
    border: 5px solid white;
    padding: 190px;
    margin: 97px;
}